.about-container ul {
  padding: 0;
}

.about-container li {
  padding: 0.15em 0 0.15em 2.1em;
  margin-bottom: 0.2em;
  text-indent: 0.4em;
  font-weight: bold;
  list-style: none;
  background-repeat: no-repeat;
  background-size: 1.9em;
}

.about-container li[data-type="email"] {
  background-image: url("/icons/email.svg");
}

.about-container li[data-type="gitlab"] {
  background-image: url("/icons/gitlab.svg");
}

.about-container li[data-type="itchio"] {
  background-size: contain;
  background-image: url("/icons/itchio.svg");
}
