@import url("https://fonts.googleapis.com/css?family=Noto+Sans:700|Lexend+Deca:300");
@import "./theme.css";

* {
  box-sizing: border-box;
}

.container {
  position: inherit;
  margin-top: 5rem;
  margin-bottom: 5rem;

  min-height: calc(100vh - 64px - 10rem);
}
.content {
  padding: 0 1rem;
  max-width: 55rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .content {
    padding: 0 3.5rem;
  }
}

/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}

html {
  font-size: 110%;
  /*font-size: 118.8%*/
} /*19px*/

@media (max-width: 350px) {
  html {
    font-size: 90%;
  }
}

body {
  background-color: whitesmoke;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  line-height: 1.65;
  color: var(--dark-text-color);
  margin: 0;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  line-height: 1.15;
  color: #333;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}
