.project-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  row-gap: 3rem;
}

.itchio-widget {
  width: 208px;
  height: 167px;
  display: block;
  margin: auto;
}

@media (min-width: 768px) {
  .itchio-widget {
    width: 552px;
    height: 167px;
  }
}
