:root {
  /* --primary-color: #035484; */
  --primary-color: #012d46;
  --darker-primary-color: #1923b3;
  --lighter-primary-color: #5762ff;
  /*--light-primary-background-color: #e8e9ff; */
  --light-primary-background-color: HSL(202, 70%, 85%);
  --dark-primary-background-color: HSL(202, 100%, 21%);
  /* --link-color: #3e4aff; */
  --link-color: #1923b3;

  --accent-color: #ffd73d;
  --darker-accent-color: #b38f07;

  --dark-text-color: #444;
  --light-text-color: #ffd270;

  --shadow-gray-color: #646570;

  --scroll-length: 100vh;

  --brutal-bouncer-bg-color-light: #083652;
  --brutal-bouncer-bg-color-dark: #000929;
  --brutal-bouncer-bg2-color-light: #870000;
  --brutal-bounder-bg2-dolor-dark: #680404;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  /*color: var(--darker-accent-color);*/
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.light-link {
  color: var(--light-text-color);
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.light-link:hover {
  color: var(--light-text-color);
  text-decoration-style: double;
}

.icons {
  width: 1.5rem;
}

.icons-link {
  vertical-align: top;
  margin-right: 5px;
}
.icons-link:hover {
  cursor: pointer;
}
