.project-card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 45rem;
  height: fit-content;
  margin: 0 0.2rem;

  background-color: white;
  border: 1px solid var(--primary-color);
  box-shadow: 5px 6px 0 var(--shadow-gray-color);
}

.project-card h1,
.project-card h2,
.project-card h3,
.project-card h4 {
  margin-top: 0;
}
.project-card-header {
  background-color: var(--light-primary-background-color);
  border-bottom: 1px solid var(--primary-color);
}

.project-card-header h1 {
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: 0;
  color: var(--light-text-color);
  background-color: var(--primary-color);
}
.project-card-sub-header {
  padding-left: 1rem;
}
.project-card-sub-header span {
  display: block;
}
.project-card-content {
  padding: 1rem;
}

.project-card-img {
  float: right;
  max-width: 40%;
  max-height: 180px;
  width: auto;
  height: auto;
}

.project-card-details {
  margin-bottom: 1.15rem;
}

.project-card-summary {
  text-decoration: none;
  color: var(--link-color);
}

.project-card-summary:hover {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

/* Project styling */
.project-card[data-type="brutal-bouncer"] {
  border: 1px solid var(--brutal-bouncer-bg-color-light);
  box-shadow: 5px 6px 0 var(--brutal-bouncer-bg-color-dark);
}

.project-card[data-type="brutal-bouncer"] .project-card-header {
  color: var(--light-text-color);
  background-color: var(--brutal-bouncer-bg2-color-light);
  border-color: var(--lighter-primary-color);
}

.project-card[data-type="brutal-bouncer"] .project-card-header a {
  color: var(--light-text-color);
  text-decoration-line: underline;
  text-decoration-style: solid;
}
.project-card[data-type="brutal-bouncer"] .project-card-header a:hover {
  text-decoration-style: double;
}

.project-card[data-type="brutal-bouncer"] .project-card-header h1 {
  background-color: var(--brutal-bouncer-bg-color-light);
}
