#sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

.logo {
  color: var(--light-text-color);
  margin: auto 0;
}

.logo:hover {
  color: var(--light-text-color);
}

.nav-container {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;

  background-color: var(--primary-color);
  border-bottom: 0.2rem solid black;
}
.nav-container nav {
  display: flex;
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
  padding: 0.3em 1em;

  justify-content: space-between;
}

.nav-container nav ul {
  list-style: none;
  margin: 0 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.nav-container nav ul li {
  padding: 0.2rem 1rem;
}

@media (min-width: 768px) {
  .nav-container nav {
    padding: 0.3em 3.5em;
  }
}

@media (max-width: 350px) {
  .nav-container nav ul li {
    padding: 0 0.5rem;
  }
}
@media (max-width: 450px) {
  .nav-container .logo {
    display: none;
  }

  .nav-container nav {
    justify-content: center;
  }
}
