.footer {
  background-color: var(--primary-color);
  text-align: center;

  padding: 1rem;

  color: whitesmoke;
  height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;
}
